In [1]:
#pip install yelpapi

In [2]:
from yelpapi import YelpAPI
from pprint import pprint
import pandas as pd
import numpy as np

In [3]:
yelp_api = YelpAPI('o2kVySxuJlQHYpsXVpPZPqV_VpfD1eACBU9JURPwZlbLiKOI3xWLEevsCB7Sq09OPUdxGumOHYE5ib0dkzR-X4Uvs3w0Cp1bJD3SEaCa0X307SNFXfiPW5hyQA3VX3Yx')

In [4]:
# test
response = yelp_api.search_query(location='toronto', limit=1, offset=1)
pprint(response['businesses'])

[{'alias': 'seven-lives-tacos-y-mariscos-toronto',
  'categories': [{'alias': 'mexican', 'title': 'Mexican'}],
  'coordinates': {'latitude': 43.6543411559068, 'longitude': -79.4004796072841},
  'display_phone': '+1 416-393-4636',
  'distance': 2236.76924282367,
  'id': 'iGEvDk6hsizigmXhDKs2Vg',
  'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/4vmIs9jTNYlK24wb2WrQLg/o.jpg',
  'is_closed': False,
  'location': {'address1': '72 Kensington Avenue',
               'address2': '',
               'address3': '',
               'city': 'Toronto',
               'country': 'CA',
               'display_address': ['72 Kensington Avenue',
                                   'Toronto, ON M5T 2K1',
                                   'Canada'],
               'state': 'ON',
               'zip_code': 'M5T 2K1'},
  'name': 'Seven Lives Tacos y Mariscos',
  'phone': '+14163934636',
  'price': '$',
  'rating': 4.5,
  'review_count': 1323,
  'transactions': [],
  'url': 'https://www.yelp.com/biz/seven-lives-tacos-y-mariscos-toronto?adjust_creative=vliv81ZvKT_Oiqq8qtAerA&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=vliv81ZvKT_Oiqq8qtAerA'}]

In [5]:
pprint(response['businesses'][0]['name'])

'Seven Lives Tacos y Mariscos'

In [6]:
offset = 1
limit = 49
total_num_queries = 20
names = []
ratings = []
review_counts = []

for i in range(total_num_queries-1):
    
    response = yelp_api.search_query(location='toronto', sort_by='rating', limit=limit, offset=offset)
    
    for business in range(len(response['businesses'])):
        names.append(response['businesses'][business]['name'])
        ratings.append(response['businesses'][business]['rating'])
        review_counts.append(response['businesses'][business]['review_count'])
        
    offset = offset + limit

In [7]:
# Check if all the lists has the same number of items
print(len(names), len(ratings), len(review_counts))

912 912 912

In [8]:
rating_df = pd.DataFrame({
                'name' : names,
                'ratings' : ratings,
                'review_counts' : review_counts
})

In [9]:
rating_df

                                 name  ratings  review_counts
0                            Muncheez      4.5            432
1                        Zeal Burgers      5.0            117
2    New Orleans Seafood & Steakhouse      4.5            136
3                                Yasu      4.5            364
4                   Fahrenheit Coffee      4.5            314
..                                ...      ...            ...
907                     Tsaa Tea Shop      4.0             60
908  Scaddabush Italian Kitchen & Bar      3.5            461
909                  Ho Sushi Express      4.0             67
910             Saffron Spice Kitchen      4.0            123
911                        Sushi Bong      4.0            151

[912 rows x 3 columns]